.vscode
.DS_STORE

*.log
node_modules
packages/*/package-lock.json
packages/*/build
packages/*/dist
packages/*/lib
packages/*/assets
packages/*/*.d.ts
packages/*/*.js
packages/*/*.map

public

elements
utils
